* text=auto eol=crlf
# These are all bash scripts and should use lf
*.sh text eol=lf
*.yml text eol=lf

# Special case for metadata files, which are text files but should always use LF line endings
metadata/** eol=lf

src/libs/** linguist-vendored
